<div class="container">
  <app-child appGridChild [placeholder]="placeholders[0]"></app-child>
  <app-child appGridChild [placeholder]="placeholders[1]"></app-child>
  <app-child appGridChild [placeholder]="placeholders[2]"></app-child>
  <app-child appGridChild [placeholder]="placeholders[3]"></app-child>
  <app-child appGridChild [placeholder]="placeholders[4]"></app-child>
  <app-random appGridChild [placeholder]="placeholders[5]"></app-random>
  <app-random appGridChild [placeholder]="placeholders[6]"></app-random>
  <app-random appGridChild [placeholder]="placeholders[7]"></app-random>
  <app-random appGridChild [placeholder]="placeholders[8]"></app-random>
  <app-random appGridChild [placeholder]="placeholders[9]"></app-random>
  <app-random appGridChild [placeholder]="placeholders[10]"></app-random>
  <app-random appGridChild [placeholder]="placeholders[11]"></app-random>
  <app-random appGridChild [placeholder]="placeholders[12]"></app-random>
</div>
